{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Gallery</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->

    <!-- Start Gallery -->
    <div class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Gallery</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                    </div>
                </div>
            </div>
            <div class="tz-gallery">
                <div class="row">
                    {% for img in ImgGallery %}
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a class="lightbox" href="{{ img.image.url }}">
                            <img class="img-fluid" src="{{ img.image.url }}" alt="Gallery Images">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Gallery -->
{% endblock %}